.text {
    color: yellow;
    padding-top: 50px;
    width: auto;
    background-color: blanchedalmond;
}

.text2 {
    color: red;
    padding-top: 150px;
    width: 200px;
    background-color: black;
}

.t9 {
<<<<<<< HEAD
    background-color: black;

=======
    background-color: red;
    
>>>>>>> 6f290e74d625257a9dd2972a55bcca24a45fc43c
}